.header {
    position: relative;
    margin-top: 50px;
    padding: 100px 0 300px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}

.header::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.header_content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
}

.header_chanels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.header_chanel {
    object-fit: contain;
}

.header_title {
    flex-wrap: wrap;
}

.header_title-light {
    font-size: 2rem;
    display: block;
    font-weight: lighter;
}

.header_divider {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
}

.header_offer{
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

.offer_value{
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.offer_value-small {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.header_button {
    background-color: var(--tertiary-color);
    animation: wiggle 2.2s linear infinite;
    background: var(--btn-bg-color-gradient);
    transition: background 1s, outline 1s, transform 1s;

}

.header_button-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    padding: 16px 40px;
    border-radius: 500px;
    
    background-size: 250%;
    
    border: none;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 1rem;
}

.header_button-btn:hover {
    cursor: pointer;
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

.text-small {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    width: 300px;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes wiggle {
    0%, 10% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}

@media screen and (max-width:480px) {
    .header {
        margin-top: 128px !important;
    }
}